---
import Layout from "../layouts/Layout.astro";
import { Like } from "../components/molecules/Like/index";
import { CreatorInfo } from "../components/organisms/article/CreatorInfo";
import EmbedCard from "../components/molecules/EmbedCard/index";
---

<Layout title="PCを移行するにあたって無いと困るなと思ったツールを紹介します">
	<main>
		<article class="mt-12 max-w-[620px] mx-auto">
			<picture>
				<img
					src="https://assets.st-note.com/production/uploads/images/83434530/rectangle_large_type_2_0385b8c5ce7fec367074177f1a73eb24.jpeg?width=800"
					alt=""
				/>
			</picture>
			<h1 class="title">
				PCを移行するにあたって無いと困るなと思ったツールを紹介します
			</h1>
			<Like />
			<div class="mt-5 mb-[52px]">
				<CreatorInfo />
			</div>
			<div>
				<p class="leading-9 text-lg my-9">
					先日、PCを交換したので、その時に無いと困るわと思って速攻で入れたツールを紹介します。
					<strong>ちなみにMacです。</strong>
				</p>
				<h2 class="leading-9 text-[26px] font-bold mt-[54px]">
					アプリケーション
				</h2>
				<h3
					class="leading-9 text-[22px] font-bold mt-[54px] -mb-[18px]"
				>
					RayCast
				</h3>
				<div class="my-9">
					<EmbedCard
						name="Raycast - Supercharged productivity"
						description="Raycast lets you control your tools with a few keystrokes. It"
						url="www.raycast.com"
						thumbnail="https://d2l930y2yx77uc.cloudfront.net/production/uploads/ext/84b40dbdcbefd6131c1d5d70f35ce2fabe86fcadbd09257111a1cb909bad.png"
					/>
				</div>
				<p class="leading-9 text-lg my-9">
					ランチャーアプリです。Alfred的なやつ。長らく<a
						href="https://www.alfredapp.com/"
						target="_blank"
						class="underline">Alfred</a
					>を使ってきたんですが、無料だけどほとんど同じことができる &
					UIが好きだったので変更しました。多分、クリップボード履歴を一番多用している気がする。<br
					/>
					TypeScript + Reactで拡張機能を開発できるみたいなので、フロントエンドエンジニアとは親和性が高いかもです。自分もなんか思いついたら作ってみようと思います。
				</p>
				<h3
					class="leading-9 text-[22px] font-bold mt-[54px] -mb-[18px]"
				>
					In Your Face
				</h3>
				<div class="my-9">
					<EmbedCard
						name="In Your Face - The meeting reminder app"
						description="An app for Apple macOS that helps you being on time for meeti"
						url="www.inyourface.app"
					/>
				</div>
				<p class="leading-9 text-lg my-9">
					会社の同僚のnoteを読んで知ったアプリ。ミーティングの1分前に画面全体を覆って次のミーティングをお知らせしてくれるので、ミーティングに遅刻することが無くなりました。個人的には、ミーティング直前に時間をチラチラ確認する作業が無くなったので歓喜しています。
				</p>
				<h3
					class="leading-9 text-[22px] font-bold mt-[54px] -mb-[18px]"
				>
					AltTab
				</h3>
				<div class="my-9">
					<EmbedCard
						name="AltTab - Windows alt-tab on macOS"
						url="alt-tab-macos.netlify.app"
					/>
				</div>
				<p class="leading-9 text-lg my-9">
					Windowsの 'alt + tab'
					のswitcher機能をMacで再現したアプリです。<br /> Macだと ⌘ + tab
					でアプリケーションを切り替えれますが、アプリケーション単位なので、複数ウィンドウを開いてる時などに期待してたのと違うウィンドウが開かれて悲しい思いをすることがあると思います。<br
					/>
					AltTabを使うとウィンドウ単位のswitcherになるので、自分はこのショートカットを
					⌘ + tab に上書きして使ってます。
				</p>
				<h3
					class="leading-9 text-[22px] font-bold mt-[54px] -mb-[18px]"
				>
					Krisp
				</h3>
				<div class="my-9">
					<EmbedCard
						name="Noise Cancelling App & Echo Reduction Software | Krisp"
						description="Krisp cancels background noise and reduces echo during your c"
						url="krisp.ai"
					/>
				</div>
				<p class="leading-9 text-lg my-9">
					ノイズキャンセルしてくれるアプリ。ほぼ家で仕事してるんですが、外の鳥鳴き声やMacのファンがうるさいので導入しました。自分では確認してない
					ので、効果の程は分かりません。
				</p>
				<h3
					class="leading-9 text-[22px] font-bold mt-[54px] -mb-[18px]"
				>
					Magnet
				</h3>
				<div class="my-9">
					<EmbedCard
						name="Magnet – Window manager for Mac"
						url="magnet.crowdcafe.com"
					/>
				</div>
				<p class="leading-9 text-lg my-9">
					ウィンドウをドラッグして、右半分,
					左上など任意の領域に、いい感じに配置してくれるツール。確か、ショートカットでも配置できる。ちなみに先ほど挙げたRaycastでもショートカットで同様に配置できた気がする。ただ、ウィンドウの配置はトラックパッドでやる癖がついてしまって、ショートカット使ったこと無いんですよね。
				</p>
				<p class="leading-9 text-lg my-9 mt-[108px]">
					ここから先はCLI編になります。黒い画面にカタカタ打つ系のやつ。
				</p>
				<p class="leading-9 text-lg my-9">ここでライフが0に。。</p>
			</div>
		</article>
	</main>
</Layout>

<style>
	.title {
		min-height: 1em;
		margin-top: 72px;
		margin-bottom: 18px;
		font-weight: 700;
		line-height: 1.5;
		color: #222;
		letter-spacing: 0.04em;
		font-feature-settings: "palt" 1;
		pointer-events: auto;
		font-size: 2rem;
	}
</style>
